
@use 'variable' as *;
@use 'mixins' as *;
/* Réinitialisation de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typographie générale */
body {
  font-family: $font-principale;
  font-size: 16px;
  line-height: 1.6;

}


h1, h2, h3, h4, h5, h6 {
 font-family: $font-secondaire;
  line-height: 1.2;
  margin-bottom: 1rem;
}



/* Classes de structure */
.container {
  max-width: $largeur-max;
  width: $largeur-responsive;
  margin: 0 auto;
}


hr {
 
  background-color: $couleur-principale;;


}

.container hr {
  border: none;
  border-top: 1px solid $couleur-principale;
  margin: 3rem 0;  
}

