
@use 'variable' as *;
@use 'mixins' as *;
@use 'placeholders';
.logo-section,
.breadcrumb {
  
  @extend %section-centree;
}

.breadcrumb img {
  max-width: 120px;
  height: auto;
  margin-bottom: 10px;
}

.fil-ariane {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 0;
  margin: 0;
  font-size: 15px;

  a {
    @include lien-style();
  }

  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -2px;
    background-color: $couleur-principale;
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 100%;
  }
}
