@use 'variable' as *;
@use 'mixins' as *;
@use 'placeholders';

.header {
  background-color: $couleur-principale;
  color: $couleur-blanc;
  padding: 10px 0;


}

.header__container {
  @extend %centre;         
  justify-content: space-between; 
  padding: 0 1rem;        
}

.header__logo {
  display: flex;
  align-items: center;      
  gap: 15px;               

}

.header__logo-img {
  height: 70px;
  width: auto;
}

.header__logo-titre {
    flex-shrink: 0;
  white-space: nowrap;
    margin: 0;
  line-height: 1.2;
  font-size: $texte-size;
  font-weight: bold;
  text-align: left;
}

/* Navigation */

.navbar__list {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
  align-items: center;       // aligner les liens verticalement
}

.navbar__link {
  @extend %centre;
  gap: 8px;
  color: $couleur-blanc;
  text-decoration: none;
  padding: 0 15px;
  font-size: $font-size-nav;
  font-weight: bold;

  &__icon-img {
    width: 20px;
  }

  &__text {
    &:hover {
      text-decoration: underline;
    }
  }

  &__arrow {
    margin-left: 8px;
    font-size: 0.9em;
  }
}

/* Burger menu */

.burger {
  display: none;
  font-size: 2em;
  color: $couleur-blanc;
  cursor: pointer;
}
