@use 'variable' as *;

.logo-s {
  border: 1px solid $border-color;
  animation: apparitionLogo 2s ease forwards;
  cursor: pointer;

  &.active {
    border-color: $border-color; 
    animation: changementCouleur 0.5s forwards;
  }
}

@keyframes apparitionLogo {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes changementCouleur {
  from {
    border-color: $border-color;
  }
  to {
    border-color: $border-color ; 
  }
}
