@use 'variable' as *;
@use 'mixins'  as *;
@use 'placeholders' as *;;

.section-avantages {
  padding: 4rem 2rem;
  text-align: center;
background-color: $couleur-fond;

  .titre-section {
    font-size: 3rem;
    color: $vert-principal;
    margin-bottom: 1rem;
  }

  .intro-section {
    max-width: 700px;
    margin: 0 auto 3rem auto;
    font-size: 1.2rem;
    color: $texte-principal;
  }

  .cartes {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;

    .carte {
   
      border-radius: 1rem;
      padding: 2rem;
      max-width: 300px;
      text-align: center;
      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(-10px);
      }

      .icone {
        width: 80px;
        height: 80px;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 1.5rem;
        color: $vert-principal;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 1rem;
        color: $texte-secondaire;
      }
    }
  }

  hr {
    margin: 4rem auto 0;
    border: none;
    height: 4px;
    width: 80px;
    background-color: $vert-principal;
    border-radius: 2px;
  }
}
