
// Couleurs principales
$couleur-principale: #328E6E;
$couleur-texte-blanc: #ffffff;
$bg-light: #f8f8f7;
$couleur-fond: #f5f5f5;
$couleur-texte: #333;
$font-size-nav: 1.3em;
$couleur-hover: lighten($couleur-principale, 10%);
$couleur-blanc :#ffffff;
$couleur-noir :#000000;
$couleur-input:#ccc;
$texte-size :2em;
$border-color: rgb(57, 171, 100);


// Variables pour les couleurs
$vert-principal: #1c8d36;
$vert-secondaire: #32bc89;
$vert-bordure: #49b171;
$gris-translucide: rgba(107, 105, 105, 0.5);
$noir-translucide: rgba(0, 0, 0, 0.8);

// Variables  couleurs input 
$color-success: #09c372;
$color-error: #ff3860;
$color-btn-bg: #ee2e15;
$color-btn-bg-hover: #a91006;
$color-label: #444;
$color-title: #28cc5a;


$text-muted: #444;
$border-color: #959292;
$color-poste: #287b14;
$color-btn:#187a46;
$color-btn-border:#a2f3c4;


// Polices
$font-principale: 'Open Sans', sans-serif;
$font-secondaire: 'Poppins', sans-serif;


$largeur-max: 1200px;
$largeur-responsive: 90%;








$color-bg-section: #f8f8f7;
$color-text: #333;
$color-btn-bg: #81E7AF;
$color-btn-border: #169976;
$color-btn-bg-hover: #1d6849;
$color-cta-btn-bg: #67AE6E;
$color-cta-input-btn-bg: #328E6E;
$color-cta-input-btn-bg-hover: #1d6849;
$texte-principal: #333;
$texte-titre: #222;
$texte-secondaire: #555;

// =====================
// statistiques variables 
// =====================
$couleur-principale: #328E6E;
$couleur-secondaire: #00AF89;
$couleur-foncee: #005744;